{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'DigitalHermitag/styles/normalise.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'DigitalHermitag/styles/search_styles.css'%}">
</head>

<body>
<header>
    <div class="header_top">
        <a href="{% url 'index' %}" class="heading">Цифровой Эрмитаж</a>
    </div>
</header>
<div>Результат поиска по
    {% if title != '' %}
    названию: {{ title }}
    {% endif %}
    {% if genre != '' %}
    жанру: {{ genre }}
    {% endif %}
    {% if author != '' %}
    автору: {{ author }}
    {% endif %}

</div>
{% for el in arts_list %}
        <div class="content_field">
            <div class="container_for_img">
                <img src="{{ el.image_file.url }}" alt="Фото не найдено">
            </div>
            <div class="text_content">
                <div class="painter_info">{{ el.author }}</div>
                <h5 class="name_of_art">{{ el.title }}</h5>
                <div class="genre">{{ el.genre }}</div>
                <div class="describition">{{ el.describition }}</div>
            </div>
        </div>
{% endfor %}
<a class="add_new" href="{% url 'index' %}">Назад</a>
</body>

</html>